page-addeditproduct {
    ion-navbar{
        color: orange;
        :button{
            color: orange;
            :span{
                color: orange;
            }
        }
    }

    ion-toggle{
        height: 15px  !important;
        width: 35px !important;
        :div{
            height: 15px  !important;
            width: 35px !important;
        }
    }
    
    ion-title{
        color: orange;
        :div{
            color: orange;
        }
        font-family: -webkit-body;
    }
    ion-content{
        background-color: #191970 !important
    }

    ion-list{
        background-color: #191970 !important
    }

    ion-label{
        color: orange;
        text-align: center;
    }

    ion-input{
        background-color: white;
        border-radius: 15px;
        border: 1px orange solid;
        color: black;
        margin-top: 5px;
        height: 40px;
        input {
            text-align: center;      
        }
    }

    ion-select{
        background-color: white;
        border-radius: 15px;
        border: 1px orange solid;
        color: black;
        margin-top: 5px;
        height: 40px;
        input {
            text-align: center;      
        }
        width: 100% !important;
        max-width: 100% !important;
    }

    ion-textarea{
        background-color: white;
        border-radius: 15px;
        border: 1px orange solid;
        color: black;
        margin-top: 5px;
        input {
            text-align: center;      
        }
    }
    .loginbutton{
        margin-top: 25px !important;
        background-color: orange !important;
    }
    .linkbutton{
        color: orange !important;
    }
    small{
        color: orange;
        text-decoration: underline;
    }

    .smalltext{
        font-size: 10px;
    }

    .text-left{
        text-align: left;
    }

    .secondbutton{
        font-size: 12px;
        float: right;
        height: 25px;
        background-color: darkorange;
        margin-top: 10px !important;
    }
}
